@{
  Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select department")
  @Html.DropDownList("DepartmentId")
  
  @Html.LabelFor(model => model.CourseNum)
  @Html.TextBoxFor(model => model.CourseNum)
  <input type="submit" value="Add new Course" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>